.time {
    text-align: center;
    padding: 2rem;
    position: relative;
}

.time h3 {
    font-size: 2rem;
    font-weight: 400;
    color: #212121;
    border-bottom: 0.25rem solid;
    padding-bottom: 0.5rem;
    display: inline-block;
}

.time .colaboradores {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    margin-top: 32px;
}

.input-cor {
    position: absolute;
    top: 20px;
    right: 40px;
}

.App .titulo-time {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 8rem;
    justify-content: center;
    border: 0.25rem solid;
    border-radius: 1rem;
    padding: 2rem;
    font-size: 2rem;
    color: rgb(81, 127, 226);
}
