.time {
    text-align: center;
    padding: 2rem;
}

.time h3 {
    font-size: 2rem;
    font-weight: 400;
    color: #212121;
    border-bottom: 0.25rem solid;
    padding-bottom: 0.5rem;
    display: inline-block;
}
